[submodule ".vim/_/nerdcommenter"]
	path = .vim/_/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/_/nerdsnippets"]
	path = .vim/_/nerdsnippets
	url = git://github.com/scrooloose/nerdsnippets.git
[submodule ".vim/_/nerdtree"]
	path = .vim/_/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/_/snippets"]
	path = .vim/_/snippets
	url = git://github.com/scrooloose/snippets.git
[submodule ".vim/_/vim-cucumber"]
	path = .vim/_/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule ".vim/_/vim-fugitive"]
	path = .vim/_/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/_/vim-git"]
	path = .vim/_/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule ".vim/_/vim-haml"]
	path = .vim/_/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule ".vim/_/vim-rails"]
	path = .vim/_/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/_/vim-speeddating"]
	path = .vim/_/vim-speeddating
	url = git://github.com/tpope/vim-speeddating.git
[submodule ".vim/_/vim-surround"]
	path = .vim/_/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/_/ack.vim"]
	path = .vim/_/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/_/find_in_nerdtree"]
	path = .vim/_/find_in_nerdtree
	url = git://github.com/dmcinnes/FindInNERDTree.git
